body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('/src/assets/img/background/default_background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #333;
}

.container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  width: 500px;
  text-align: center;
}

.question-text {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.question-text img {
  max-width: 100%;
  max-height: 300px; /* Максимальна висота зображення */
  height: auto;
  display: block;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.answer-input {
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.submit-button,
.back-button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
}

.submit-button {
  background-color: #007bff;
}

.submit-button:hover {
  background-color: #0056b3;
}

.back-button {
  background-color: #f44336;
}

.back-button:hover {
  background-color: #d32f2f;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

.answer-button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: #fff;
}

.answer-button.yellow {
  background-color: #ffeb3b;
  color: #333;
}

.answer-button.blue {
  background-color: #2196f3;
}

.answer-button.green {
  background-color: #4caf50;
}

.answer-button.red {
  background-color: #f44336;
}

.answer-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
